body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #ff9a9e, #fad0c4);
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.container {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 30vh;
}

input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 200px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background: crimson;
  color: white;
  cursor: pointer;
}
h1, p {
  font-family: 'Playfair Display', serif;
}